<!-- TODO: this lmao -->

{% extends 'layout.html' %}

{% block content %}
<link rel="stylesheet" href="../../static/css/events.css"> 

<div class="container pad-bot text-left">
    <div class="text-center event-card row pad-bot">
        <form class="container" method="post">
            <h1 class="text-center register-heading">Create New Event</h1>

            <div class="pad">
                <label for="eventName">Event Name *</label>
                <input name="eventName" class="form-control" id="eventName">
            </div>

            <div class="pad">
                <label for="eventDate">Event Date *</label>
                <input type="date" name="eventDate" class="form-control" id="eventDate">
            </div>

            <div class="pad">
                <label for="eventTime">Event Time *</label>
                <input type="time" name="eventTime" class="form-control" id="eventTime">
            </div>

            <div class="pad">
                <label for="description">Event Description *</label>
                <input name="description" class="form-control" id="description">
            </div>

            <div class="pad">
                <label for="maxCapacity">How many people are you looking for? *</label>
                <input name="maxCapacity" class="form-control" id="maxCapacity">
            </div>

            <div class="pad">
                <label for="eventLocation">Event Location *</label>
                <input name="eventLocation" class="form-control" id="eventLocation">
            </div>

            <div class="pad">
                <label for="eventAddress">Event Address</label>
                <input name="eventAddress" class="form-control" id="eventAddress">
            </div>

            <div class="pad">
                <label for="eventType">Event Type *</label>
                <select name="eventType" class="form-control mar" id="eventType">
                    <option>Basketball</option>
                    <option>Tennis</option>
                    <option>Soccer</option>
                    <option>Baseball</option>
                    <option>Golf</option>
                    <option>Ultimate Frisbee</option>
                    <option>Hiking/Camping</option>
                    <option>Climbing</option>
                    <option>Running</option>
                    <option>Biking</option>
                    <option>Swimming</option>
                    <option>Yoga</option>
                    <option>Fishing</option>
                </select>
            </div>

            <div class="pad">
                <label for="eventDifficulty">Skill Level *</label>
                <select class="form-control" name="eventDifficulty" id="eventDifficulty">
                    <option></option>
                    <option>Beginner</option>
                    <option>Intermediate</option>
                    <option>Expert</option>
                </select>
            </div>
            <br>

            <button type="submit" class="btn form-button">Create</button>
        </form>
    </div>
</div>
{% endblock %}