{% extends 'layout.html' %}

{% block content%}
<link rel="stylesheet" href="../../static/css/events.css"> 

<div class="container pad-bot">
    <button onclick="location.href='/events/create';" type="button" class="btn btn-default btn-circle">Create new event</button>
</div>

<div class="container pad-bot">
    {% for event in events %}
    <div class="text-center event-card row pad-bot">
        <h1 class="border-bottom">{{ event['EventName'] }} - {{ event['EventDate'].strftime('%b %d, %Y') }}</h1>
        
        <div class="col-6 text-left pad-bot">
            <div class="pad-bot">
                <label>Time:</label>
                <span class="align-left">{{ event['EventTime'] }}</span>
            </div>

            <div class="pad-bot">
                <label>Capacity:</label>
                <span>{{ getUsersRegistered(event['ID']) }} / {{ event['MaxCapacity'] }}</span>
            </div>

            <div class="pad-bot">
                <label>Skill Level:</label>
                <span>{{ event['EventDifficulty'] }}</span>
            </div>

            <div class="pad-bot">
                <label>Description:</label><br>
                <span>{{ event['description'] }}</span>
            </div>
        </div>

        <div class="col-6">
            <div>
                {% if event['EventType'] == "Basketball" %}
                    <img class="event-image" src="../../static/basketball-court.jpg">
                {% elif event['EventType'] == "Tennis" %}
                    <img class="event-image" src="../../static/tennis-court.jpg">
                {% elif event['EventType'] == "Soccer" %}
                    <img class="event-image" src="../../static/soccer-field.jpg">
                {% elif event['EventType'] == "Baseball" %}
                    <img class="event-image" src="../../static/baseball-field.jpg">
                {% elif event['EventType'] == "Golf" %}
                    <img class="event-image" src="../../static/golf-court.jpg">
                {% elif event['EventType'] == "Ultimate Frisbee" %}
                    <img class="event-image" src="../../static/ultimate-frisbee.jpg">
                {% elif event['EventType'] == "Hiking/Camping" %}
                    <img class="event-image" src="../../static/hiking.jpg">
                {% elif event['EventType'] == "Climbing" %}
                    <img class="event-image" src="../../static/climbing.jpg">
                {% elif event['EventType'] == "Running" %}
                    <img class="event-image" src="../../static/running.jpg">
                {% elif event['EventType'] == "Biking" %}
                    <img class="event-image" src="../../static/biking.jpg">
                {% elif event['EventType'] == "Swimming" %}
                    <img class="event-image" src="../../static/swimming.jpg">
                {% elif event['EventType'] == "Yoga" %}
                    <img class="event-image" src="../../static/yoga.jpg">
                {% elif event['EventType'] == "Fishing" %}
                    <img class="event-image" src="../../static/fishing.jpg">
                {% endif %}
            </div>

            <div class="pad-bot">
                <span class="align-bottom font-weight-bold">{{ event['EventLocation'] }}</span><br>
                <span class="text-bottom">{{ event['EventAddress'] }}</span>
            </div>

            {% if not isUserRegistered(event['ID'], g.user['id']) %}
            <form action="/events/register" method="post">
                <input type="hidden" name="eventID" value="{{ event['ID'] }}" />
                <input type="hidden" name="userID" value="{{ g.user['id'] }}" />
                <button type="submit" class="btn form-button">
                    <img src="../../static/add.svg"> Register
                </button>
            </form>

            {% else %}
            <form action="/events/unregister" method="post">
                <input type="hidden" name="eventID" value="{{ event['ID'] }}" />
                <input type="hidden" name="userID" value="{{ g.user['id'] }}" />
                <button type="submit" class="btn form-button">
                    <img src="../../static/check.svg"> Unregister
                </button>
            </form>

            {% endif %}
        </div>   
    </div>
    {% endfor %}
</div>

{% endblock %}
