{% extends 'layout.html' %}

{% block content%}
<link rel="stylesheet" href="../../static/css/events.css"> 

<div class="container pad-bot">
    <div class="text-center event-card row pad-bot">
        <h1 class="border-bottom">Tennis at That One Park - 4/26/2019</h1>
        
        <div class="col-6 text-left pad-bot">
            <div class="pad-bot">
                <label>Time:</label>
                <span class="align-left">2:00 pm</span>
            </div>

            <div class="pad-bot">
                <label>Capacity:</label>
                <span>2/4</span>
            </div>

            <div class="pad-bot">
                <label>Skill Level:</label>
                <span>Expert</span>
            </div>

            <div class="pad-bot">
                <label>Description:</label><br>
                <span>We are going to be playing tennis at That One Park. Looking for 3 other players. We will be playing doubles. Looking for experienced players only.</span>
            </div>
        </div>

        <div class="col-6">
            <div class="pad-bot">
                <img class="event-image" src="../../static/tennis-court.jpg">
            </div>

            <div class="pad-bot">
                <span class="font-weight-bold">That One Park</span><br>
                <span class="text-bottom">1234 Applewood Lane Kent, Ohio 44240</span>
            </div>
        </div>   
        </div>
</div>


{% endblock %}
