{% extends 'layout.html' %}

{% block content%}
<link rel="stylesheet" href="../../static/css/events.css"> 

<div class="container pad-bot">
    <button onclick="location.href='/events/create';" type="button" class="btn btn-default btn-circle">Create new event</button>
</div>

<div class="container pad-bot">
    {% for event in events %}
    <div class="text-center event-card row pad-bot">
        <h1 class="border-bottom">{{ event['EventName'] }} - {{ event['EventDate'].strftime('%b %d, %Y') }}</h1>
        
        <div class="col-6 text-left pad-bot">
            <div class="pad-bot">
                <label>Time:</label>
                <span class="align-left">{{ event['EventTime'] }}</span>
            </div>

            <div class="pad-bot">
                <label>Capacity:</label>
                <span>{{ getUsersRegistered(event['ID']) }} / {{ event['MaxCapacity'] }}</span>
            </div>

            <div class="pad-bot">
                <label>Skill Level:</label>
                <span>{{ event['EventDifficulty'] }}</span>
            </div>

            <div class="pad-bot">
                <label>Description:</label><br>
                <span>{{ event['description'] }}</span>
            </div>
        </div>

        <div class="col-6">
            <div class="pad-bot">
                <span class="font-weight-bold">{{ event['EventLocation'] }}</span><br>
                <span class="text-bottom">{{ event['EventAddress'] }}</span>
            </div>

            {% if not isUserRegistered(event['ID'], g.user['id']) %}
            <form action="/events/register" method="post">
                <input type="hidden" name="eventID" value="{{ event['ID'] }}" />
                <input type="hidden" name="userID" value="{{ g.user['id'] }}" />
                <button type="submit" class="btn form-button">Register</button>
            </form>

            {% else %}
            <form action="/events/unregister" method="post">
                <input type="hidden" name="eventID" value="{{ event['ID'] }}" />
                <input type="hidden" name="userID" value="{{ g.user['id'] }}" />
                <button type="submit" class="btn form-button">Unregister</button>
            </form>

            {% endif %}
        </div>   
    </div>
    {% endfor %}
</div>

{% endblock %}
