{% extends 'navbar.html' %}

{% block content%}
<link rel="stylesheet" href="../../static/css/register.css"> 

<form class="container" method="post">
    <h1 class="text-center register-heading">Register</h1>

    <div class="pad">
        <label for="email">Email Address *</label>
        <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" maxlength="60">
    </div>

    <div class="pad">
        <label for="firstName">First Name *</label>
        <input name="firstName" class="form-control" id="firstName" maxlength="25">
    </div>

    <div class="pad">
        <label for="lastName">Last Name *</label>
        <input name="lastName" class="form-control" id="lastName" maxlength="25">
    </div>

    <div class="pad">
        <label for="password">Password *</label>
        <input type="password" name="password" class="form-control" id="password" minlength="8" maxlength="64">
    </div>

    <div class="pad">
        <label for="repeatPassword">Retype Password *</label>
        <input type="password" class="form-control" id="repeatPassword" minlength="8" maxlength="64">
    </div>

    <div class="pad">
        <label for="age">Age *</label>
        <input type="number" name="age" class="form-control" id="age">
    </div>

    <div class="pad">
        <label for="gender">Gender *</label>
        <select class="form-control" name="gender" id="gender">
            <option></option>
            <option>Male</option>
            <option>Female</option>
            <option>Non-binary</option>
        </select>
    </div>

    <div class="pad">
        <label for="profilePicture">Profile Picture *</label>
        <input type="file" class="form-control-file" id="profilePicture">
    </div>

    <div class="pad">
        <label for="bio">Bio *</label>
        <textarea class="form-control" id="bio" rows="3"></textarea>
    </div>

    <div class="pad">
        <label for="interests">Event Interests *</label>
        <select class="form-control" id="interests">
            <option></option>
            <option>Basketball</option>
            <option>Tennis</option>
            <option>Soccer</option>
            <option>Baseball</option>
            <option>Golf</option>
            <option>Ultimate Frisbee</option>
            <option>Hiking/Camping</option>
            <option>Climbing</option>
            <option>Running</option>
            <option>Biking</option>
            <option>Swimming</option>
            <option>Yoga</option>
            <option>Fishing</option>
        </select>
    </div>  
    <!-- add a way to add a skill rating for each event, select list needs to be populated from dropdown -->

    <button type="submit" class="btn form-button">Submit</button>
</form>

{% endblock %}
