{% extends 'navbar.html' %}

{% block content%}
<link rel="stylesheet" href="../../static/css/login.css"> 

<form class="container" method="post">
    <h1 class="login-heading text-center">Login</h1>

    <div class="pad">
        <label for="email">Email Address *</label>
        <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" maxlength="60">
    </div>

    <div class="pad">
        <label for="password">Password *</label>
        <input type="password" name="password" class="form-control" id="password" minlength="8" maxlength="64">
    </div>

    <button type="submit" class="btn form-button">Log In</button>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <h2 class="error text-center">{{ message }}</h2>
            {% endfor %}
        {% endif %}
    {% endwith %}
</form>

{% endblock %}
