body {
   background-color: #E5DCC2;
}

h1 {
   font-size: 20px;
   padding-bottom: 20px;
   margin-bottom: 15px;
   width: 100%;
}

h2 {
   font-size: 14px;
   padding-top: 10px; 
}

label {
   font-weight: bold;
   float: left;
}

button {
   float: left;
}

input {
   margin-bottom: 20px;
}

span {
   margin-bottom: 100px;
}

a {
   color: inherit;
}

.events-heading {
   color: black;
   font-size: 55px;
   padding-top: 30px;
   padding-bottom: 20px;
   margin-bottom: 0;
}

.event-image {
   width: 323.6px;
   height: 200px;
}

.mar {
   margin-bottom: 20px;
}

.event-card {
   position: relative;
   background: white;
   padding: 20px 40px;
   border-radius: 15px;
   box-shadow: 1px 1px 15px rgba(0,0,0,.5);
   margin-bottom: 30px;
}

.container {
   width: 55vw;
   padding-top: 10px;
}

.pad-bot {
   padding-bottom: 15px;
}