body {
    height: 100%;
}

h1 {
    font-size: 60px;
    color: #9FB779;
}

img {
    width: 250px;
    padding-top: 80px;
    padding-bottom: 0px;
}

button {
    margin: 70px 15px 0px 15px;
    height: 40px;
    width: 150px;
}

a {
    text-decoration: none;
}

a:-webkit-any-link {
    text-decoration: none;
}

p {
    font-size: 24px;
    color: #394040;
    overflow: visible;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    overflow-x: hidden;
    z-index: 1;
    top: 0;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: #FFF0B4;
}

.right {
    right: 0;
    background-color: #394040;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

.register-button {
    background-color: #477F5B;
    color: white;   
}

.register-button:hover {
    color: #9FB779;
    text-decoration: none;
}

.login-button {
    background-color: #9FB779; 
    color: white;
}

.main-logo {
    width: 600px;
    padding-bottom: 50px;
}

.stick-logo {   
    width: 200px;
}