body {
    background-color: #394040;
}

.container {
    width: 60vw;
    padding: 30px 0 50px 0;
}

form {
    width: 80vh;
}

div {
    padding-top: 20px;
    color: white;
}

select:active, select:hover {
    outline-color: #9FB779; 
}

.register-heading {
    color: white;
    font-size: 55px;
}

.form-button {
    background-color: #9FB779;
    height: 40px;
    width: 150px;
    margin-top: 25px;
}

.form-button:hover {
    background-color: #9FB779;
    color: #394040;
}

.form-control:focus {
    border-color: #9FB779;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(159,183,121);
  }
