{% extends "bootstrap/base.html"%}

{% block content%}
    <link rel="stylesheet" href="../static/css/landing.css">    

    <div class="text-center">

        <img src="../static/logo.png" class="logo">

        <br><br>

        <a href="{{ url_for('renderRegister') }}">
            <button type="button" class="register-button btn">Register</button>
        </a>

        <a href="{{ url_for('renderLogin') }}">
            <button type="button" class="login-button btn">Login</button>
        </a>
    </div>
{% endblock %}